@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Poppins&family=Sacramento&display=swap');



/* .App {
  text-align: center;
} */

body ,html{
  font-family: 'Poppins', sans-serif;
}


.media { width: 150px; height: 150px;  object-Fit: contain ;}