@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Poppins&family=Sacramento&display=swap');

body ,html{
  margin: 0;
  font-family: 'Sacramento',
  
}


.white {
  color: white
}

@media screen and (max-width: 480px) 
{}